.App {
  text-align: center;
}

.home{
  height: 99vh;
  width: 100%;
  background-image: url(../src/components/home/variant2.png);
  background-size: cover;
   
}

/* CARDS */
.cardUl{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 100px,
}

.stockActions{
  display: flex;
  flex-direction: row;
  color: #ffff;
}
.cardAction{
  display: flex;
  flex-direction: row;

}


