.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

/* CARDS */
.cardUl{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.card{
  margin: 30px;
}

